{% extends 'base.html' %}


{% block content %}

<table>

    <tr>
        <th>
            Name
        </th>

        <th>
            City
        </th>

        <th>
            Profession
        </th>

    </tr>

    {% for p in PEOPLE %}

        <tr>
            <td>
                {{ p.name }}
            </td>

            <td>
                {{ p.city }}
            </td>

            <td>
                {{ p.profession }}
            </td>

        </tr>

        {% endfor %}

</table>

{% endblock %}
